---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Introduction">
  <div class="flex md:flex-row-reverse flex-wrap">
    <div class="w-full md:w-4/5">
      <div class="mx-auto">
        <div class="flex z-0">
          <div class="w-3/5 p-5">
            <h1 class="font-sans text-4xl mb-4">
              What is Supervised Learning?
            </h1>
            <p class="text-2xl font-sans">
              What even is Supervised Learning? In this zine, Professor Puff introduces you to Supervised Learning, one of the categories of machine learning. By means of labeled pairs, a supervised learning algorithm can build a model to perform classifications.
            </p>
            <p class="text-2xl font-sans py-5"><a href="https://jenlooper.gumroad.com/l/mazines">Download</a></p>
          </div>
          <div class="w-2/5"><img alt="Zine Image" src="/2.png" /></div>
        
        </div>
      </div>
    </div>
    <div
      class="w-full md:w-1/5 bg-gray-200 md:bg-gray-200 px-2 text-center md:pb-8 md:pt-8 md:top-0 md:left-0"
    >
      <div class="md:relative mx-auto lg:px-6 ">
        <ul
          class="font-sans list-reset flex flex-row md:flex-col text-center md:text-left"
        >
          <li class="mr-3 flex-1">
            <a href="/zines/introduction"
              ><span
                class="pt-3 pb-1 md:pb-0 text-xs md:text-base text-gray-800 md:text-gray-800 block md:inline-block hover:text-red-800"
                >Introduction to Machine Learning</span
              ></a>
          </li><li class="mr-3 flex-1">
            <a href="/zines/supervisedlearning" class=""
              ><span
                class="font-bold pt-3 pb-1 md:pb-0 text-xs md:text-base text-gray-800 md:text-gray-800 block md:inline-block hover:text-red-800"
                >Supervised Learning</span
              ></a>
          </li><li class="mr-3 flex-1">
            <a href="/zines/unsupervisedlearning" class=""
              ><span
                class="pt-3 pb-1 md:pb-0 text-xs md:text-base text-gray-800 md:text-gray-800 block md:inline-block hover:text-red-800"
                >Unsupervised Learning</span
              ></a>
          </li><li class="mr-3 flex-1">
            <a href="/zines/reinforcementlearning" class=""
              ><span
                class="pt-3 pb-1 md:pb-0 text-xs md:text-base text-gray-800 md:text-gray-800 block md:inline-block hover:text-red-800"
                >Reinforcement Learning</span
              ></a>
          </li><li class="mr-3 flex-1">
            <a href="/zines/deeplearning" class=""
              ><span
                class="pt-3 pb-1 md:pb-0 text-xs md:text-base text-gray-800 md:text-gray-800 block md:inline-block hover:text-red-800"
                >Deep Learning</span
              ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</DefaultLayout>
