@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('/images/bg.png');
  background-repeat: repeat;
	//src: local('Lekton Regular'), local('Lekton-Regular'), url(../fonts/Lekton-Regular.ttf) format('ttf');
}