---

const currentYear = new Date().getFullYear()
---

<footer class="bg-black">
  <section class="py-8">
    <div class="container text-white">
      <p class="text-lg">
        &copy; {currentYear} - <a
          href="https://github.com/jenlooper">Jen Looper</a
        > - <a href="https://jenlooper.com">Made with ❤️ in  Boston</a>
      </p>
    </div>
  </section>
</footer>
